include pyproject.toml
include *.md
include LICENSE.txt
include .coveragerc
include setup.py
recursive-include data *

exclude tests
exclude tests/data
recursive-exclude tests *.csv
recursive-exclude tests *.py